body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* On-load */
.on-load {
  opacity: 0;
  animation: fade-in-up 1s forwards;
}

@keyframes fade-in-up {
  from { opacity: 0;
        transform: translateY(8px); }
  to   { opacity: 1;
        transform: translateY(0); }
}

/* Spinner */
.spinner {
  display: flex;
  pointer-events: none;
  border: 12px solid transparent;
  border-color: #f2f2f2;
  border-top-color: #7769E4;
  border-radius: 50%;
  animation: spin 1s, colour-wheel 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  /* margin: 50% auto; */
}

.spinner-detail {
  width: 10px;
  height: 10px;
}

.detail-flag, .flag-img {
  height: 200px;
  width: 100%;
}

.detail-title {
  min-height: 20px;
  width: 90%;
}

.detail-region {
  min-height: 10px;
  width: 30%;
}

.detail-population {
  min-height: 20px;
  width: 70%;
}

.detail-currency {
  min-height: 20px;
  width: 55%;
}

.detail-border {
  min-height: 20px;
  width: 100%;
}

.load-animate {
  animation: load 1s linear infinite;
  animation-fill-mode: forwards;
  background: #ddd;
  background-image: linear-gradient(to left, rgb(255, 255, 255) 0%, #ffffff 20%, #ffffff 40%, rgba(255, 255, 255, .1) 100%);
  background-repeat: no-repeat;
  background-size: cover;
}
.load-animate.profile-pic {
  animation-duration: 1s;
}
@keyframes load {
  0% {
    background-position: -680px 0;
 }
  100% {
    background-position: 680px 0;
 }
}
@keyframes load-image {
  0% {
    background-position: -680px 0;
 }
  100% {
    background-position: 680px 0;
 }
}

@keyframes spin {
  0%   { transform: rotateZ(0); }
  100% { transform: rotateZ(360deg); }
}

@keyframes colour-wheel {
  0%   { border-top-color: #7769E4; }
  33%  { border-top-color: #64D4D6; }
  66%  { border-top-color: #FF7A86; }
  100% { border-top-color: #7769E4; }
}


/* .reveals-main {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.reveals-main > div {
  font-weight: 800;
  font-size: 4em;
  will-change: transform, opacity;
  overflow: hidden;
} */


.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.hinge {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.animated.bounceIn,
.animated.bounceOut {
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
}

.animated.flipOutX,
.animated.flipOutY {
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
}

@-webkit-keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  20%, 40% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
}

.shake {
  -webkit-animation-name: shake;
  animation-name: shake;
  border-color: #FF7A86 !important;
  box-shadow: 0 0 0 0.2rem #ffbbc1 !important;
}

.opacity-0 {
  opacity: 0 !important;
}

.cancel-button {
  color: #fff !important;
  background-color: #dc3545 !important;
  border-color: #dc3545 !important;
}